.center-img{
  display:flex;
  
}

.hp-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;
}

.box img {
  width: 100px;
  height: 100px;
}

.oracle-container{
  z-index:1;
  position:relative;
  top:-170px;
  display: flex; justify-content:center; 
}

.h-screen{
  background: linear-gradient(-90deg, #1166b6, #473091, #058b9c);
  background-size: 400% 400%;
  animation: gradient 38s ease infinite;
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: auto;
}
.oracle-cover{
 background-color: #171717;
 
  height:115px;
  width:100%;
  top:-59px;
  position:relative;
  z-index: 10;
  display: flex; justify-content:center; 

}

.oracle-move-cover{
margin-top:-100px;
}

#oracle-headline{
  z-index: 11;
  position: relative;
}

#oracle-subtext{
  z-index: 11;
  font-size: .8em;
  position: relative;
}

.grey-text {
  color: grey;
}

small{
  font-size:10px;
}

.text-5xl{
  font-size: 2.7em;
  padding-left:0;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@media only screen and (min-width: 1025px) {
  #oracle-subtext{
    margin-top:-16px; 
  }

  .oracle-move-cover {
    margin-top: -78px;
}
}

@media only screen and (max-width: 1024px) {
  #oracle-subtext{
    margin-top:-16px; 
  }
  .oracle-move-cover {
    margin-top: -79px;
}
}

@media only screen and (max-width: 768px) {
  #oracle-subtext{
    display:none;
  }
  .oracle-move-cover {
    margin-top: -63px;
}
}

.rank-container {
  background-color: #0047AB;
  padding: 30px;
  border-radius: 10px;
  width: 100%
}

.loaded-nft {
  width: 25%;
  float: left;
}

.loaded-nft img {
  padding-top: 10px;
}

.upgradeables {
  width: 75%;
  float: right;
  padding: 0 10px;
}

.choose-solgat {
  background-color: #0047AB;
  padding: 10px;
  border-radius: 25px;
}

.choose-solgat h3 {
  padding-left: 10px;
}

h3 svg {
  padding-right: 5px;
}

.choose-solgat-container {
  display: flex;
}

.choose-solgat-container > .solgat-nft,
.choose-solgat-container > .solgat-nft-placeholder{
  flex: 1 0 0;
  border: 1px solid transparent;
  margin: 10px;
}

.choose-solgat-container > .solgat-nft:active,
.choose-solgat-container > .solgat-nft:hover {
  border: 1px solid white;
}

.choose-solgat-container > .solgat-nft .placeholder-nft,
.choose-solgat-container > .solgat-nft-placeholder .placeholder-nft{
  background-color: grey;
  height: 100%;
  width: 100%;
}

.choose-solgat-container > .solgat-nft-placeholder {
  pointer-events: none;
}

.choose-solgat-container svg {
  position:relative;
  top: calc(50% - 20px);
}

.upgradeables table {
  width: 100%;
}

.upgradeables table th {
  text-align: left;
}

.upgradeables table td svg{
  padding-right: 10px;
}